<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlu.liyuxiang.dao.WalletRechargeMapper">
  <resultMap id="BaseResultMap" type="com.dlu.liyuxiang.pojo.WalletRecharge">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="amount" jdbcType="BIGINT" property="amount" />
    <result column="trade_no" jdbcType="VARCHAR" property="tradeNo" />
    <result column="trade_status" jdbcType="VARCHAR" property="tradeStatus" />
    <result column="created_on" jdbcType="BIGINT" property="createdOn" />
    <result column="modified_on" jdbcType="BIGINT" property="modifiedOn" />
    <result column="deleted_on" jdbcType="BIGINT" property="deletedOn" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, amount, trade_no, trade_status, created_on, modified_on, deleted_on, 
    is_del
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from p_wallet_recharge
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from p_wallet_recharge
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dlu.liyuxiang.pojo.WalletRecharge">
    insert into p_wallet_recharge (id, user_id, amount, 
      trade_no, trade_status, created_on, 
      modified_on, deleted_on, is_del
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{amount,jdbcType=BIGINT}, 
      #{tradeNo,jdbcType=VARCHAR}, #{tradeStatus,jdbcType=VARCHAR}, #{createdOn,jdbcType=BIGINT}, 
      #{modifiedOn,jdbcType=BIGINT}, #{deletedOn,jdbcType=BIGINT}, #{isDel,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dlu.liyuxiang.pojo.WalletRecharge">
    insert into p_wallet_recharge
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="tradeNo != null">
        trade_no,
      </if>
      <if test="tradeStatus != null">
        trade_status,
      </if>
      <if test="createdOn != null">
        created_on,
      </if>
      <if test="modifiedOn != null">
        modified_on,
      </if>
      <if test="deletedOn != null">
        deleted_on,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="tradeNo != null">
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null">
        #{tradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null">
        #{createdOn,jdbcType=BIGINT},
      </if>
      <if test="modifiedOn != null">
        #{modifiedOn,jdbcType=BIGINT},
      </if>
      <if test="deletedOn != null">
        #{deletedOn,jdbcType=BIGINT},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dlu.liyuxiang.pojo.WalletRecharge">
    update p_wallet_recharge
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=BIGINT},
      </if>
      <if test="tradeNo != null">
        trade_no = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null">
        trade_status = #{tradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null">
        created_on = #{createdOn,jdbcType=BIGINT},
      </if>
      <if test="modifiedOn != null">
        modified_on = #{modifiedOn,jdbcType=BIGINT},
      </if>
      <if test="deletedOn != null">
        deleted_on = #{deletedOn,jdbcType=BIGINT},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dlu.liyuxiang.pojo.WalletRecharge">
    update p_wallet_recharge
    set user_id = #{userId,jdbcType=BIGINT},
      amount = #{amount,jdbcType=BIGINT},
      trade_no = #{tradeNo,jdbcType=VARCHAR},
      trade_status = #{tradeStatus,jdbcType=VARCHAR},
      created_on = #{createdOn,jdbcType=BIGINT},
      modified_on = #{modifiedOn,jdbcType=BIGINT},
      deleted_on = #{deletedOn,jdbcType=BIGINT},
      is_del = #{isDel,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>