<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlu.liyuxiang.dao.WalletStatementMapper">
  <resultMap id="BaseResultMap" type="com.dlu.liyuxiang.pojo.WalletStatement">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="change_amount" jdbcType="BIGINT" property="changeAmount" />
    <result column="balance_snapshot" jdbcType="BIGINT" property="balanceSnapshot" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="post_id" jdbcType="BIGINT" property="postId" />
    <result column="created_on" jdbcType="BIGINT" property="createdOn" />
    <result column="modified_on" jdbcType="BIGINT" property="modifiedOn" />
    <result column="deleted_on" jdbcType="BIGINT" property="deletedOn" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, change_amount, balance_snapshot, reason, post_id, created_on, modified_on, 
    deleted_on, is_del
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from p_wallet_statement
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from p_wallet_statement
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dlu.liyuxiang.pojo.WalletStatement">
    insert into p_wallet_statement (id, user_id, change_amount, 
      balance_snapshot, reason, post_id, 
      created_on, modified_on, deleted_on, 
      is_del)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{changeAmount,jdbcType=BIGINT}, 
      #{balanceSnapshot,jdbcType=BIGINT}, #{reason,jdbcType=VARCHAR}, #{postId,jdbcType=BIGINT}, 
      #{createdOn,jdbcType=BIGINT}, #{modifiedOn,jdbcType=BIGINT}, #{deletedOn,jdbcType=BIGINT}, 
      #{isDel,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.dlu.liyuxiang.pojo.WalletStatement">
    insert into p_wallet_statement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="changeAmount != null">
        change_amount,
      </if>
      <if test="balanceSnapshot != null">
        balance_snapshot,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="postId != null">
        post_id,
      </if>
      <if test="createdOn != null">
        created_on,
      </if>
      <if test="modifiedOn != null">
        modified_on,
      </if>
      <if test="deletedOn != null">
        deleted_on,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="changeAmount != null">
        #{changeAmount,jdbcType=BIGINT},
      </if>
      <if test="balanceSnapshot != null">
        #{balanceSnapshot,jdbcType=BIGINT},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="postId != null">
        #{postId,jdbcType=BIGINT},
      </if>
      <if test="createdOn != null">
        #{createdOn,jdbcType=BIGINT},
      </if>
      <if test="modifiedOn != null">
        #{modifiedOn,jdbcType=BIGINT},
      </if>
      <if test="deletedOn != null">
        #{deletedOn,jdbcType=BIGINT},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dlu.liyuxiang.pojo.WalletStatement">
    update p_wallet_statement
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="changeAmount != null">
        change_amount = #{changeAmount,jdbcType=BIGINT},
      </if>
      <if test="balanceSnapshot != null">
        balance_snapshot = #{balanceSnapshot,jdbcType=BIGINT},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="postId != null">
        post_id = #{postId,jdbcType=BIGINT},
      </if>
      <if test="createdOn != null">
        created_on = #{createdOn,jdbcType=BIGINT},
      </if>
      <if test="modifiedOn != null">
        modified_on = #{modifiedOn,jdbcType=BIGINT},
      </if>
      <if test="deletedOn != null">
        deleted_on = #{deletedOn,jdbcType=BIGINT},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dlu.liyuxiang.pojo.WalletStatement">
    update p_wallet_statement
    set user_id = #{userId,jdbcType=BIGINT},
      change_amount = #{changeAmount,jdbcType=BIGINT},
      balance_snapshot = #{balanceSnapshot,jdbcType=BIGINT},
      reason = #{reason,jdbcType=VARCHAR},
      post_id = #{postId,jdbcType=BIGINT},
      created_on = #{createdOn,jdbcType=BIGINT},
      modified_on = #{modifiedOn,jdbcType=BIGINT},
      deleted_on = #{deletedOn,jdbcType=BIGINT},
      is_del = #{isDel,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>